@import "reboot";
@import "variables";
@import "aside";
@import "content";

body {
  background-color: $gray-light;

  main {
    width: 1000px;
    display: flex;
    margin: 0 auto;
    background-color: white;
  }

}
